.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    display: none;
    transition: all 0.3s;
  }
  .scroll-to-top-button:hover{
    transform: scale(1.2);
    transition: all 0.3s;
  }
  
  .scroll-to-top-button.visible {
    display: block;
  }
