/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
/*Menu*/
.img-drawer:hover{
    cursor: pointer;
}
.oswald{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}

/*iframe*/
.iframe{
    border: 0;
    filter: grayscale(100%);
}